/* Duotone Effect */

.duotone img {
  filter: grayscale(1) contrast(1.2) sepia(1) hue-rotate(180deg) saturate(5);
  transition: filter 0.4s ease-out, transform 0.4s ease-out;
}

.duotone:hover img {
  filter: grayscale(0) contrast(1) sepia(0) hue-rotate(0) saturate(1);
  transform: scale(1.05);
}