/* Fade Colorize Effect */

.fade-colorize img {
  filter: grayscale(1);
  transition: filter 0.4s ease-out, transform 0.4s ease-out;
}

.fade-colorize:hover img {
  filter: grayscale(0);
  transform: scale(1.05);
}