/* Refraction Lens Effect */

.hover-effect.refraction-lens{
}

.hover-effect.refraction-lens::after{
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 120px; height: 120px;
  background: linear-gradient(rgba(255,255,255,0.8), transparent);
  transform: translate(-50%, -50%) scale(1);
  pointer-events: none;
  transition: transform .3s;
}

.hover-effect.refraction-lens:hover::after, .hover-effect.refraction-lens:focus-visible::after{
  transform: translate(-50%, -50%) scale(1.5);
}
