/* Flip Vertical Effect */

.flip-vertical {
  perspective: 1000px;
}

.flip-vertical img {
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.flip-vertical:hover img {
  transform: scaleY(-1);
}