.zoom-out {
  overflow: hidden;
  display: inline-block;
  border-radius: 8px;
}
.zoom-out img {
  transition: transform .45s ease;
  transform: scale(1.2);
}
.zoom-out:hover img {
  transform: scale(1);
}