/* Invert Flash Effect */

.hover-effect.invert-flash img{
  filter: invert(0);
  transition: filter 0.1s ease;
}

.hover-effect.invert-flash:hover img, .hover-effect.invert-flash:focus-visible img{
  animation: invert-flash 0.15s ease;
}

@keyframes invert-flash {
  0%   { filter: invert(0); }
  50%  { filter: invert(1); }
  100% { filter: invert(0); }
}