/* Contrast Punch Effect */

.hover-effect.contrast-punch img{
  filter: contrast(1);
  transition: filter 0.3s ease;
}

.hover-effect.contrast-punch:hover img, .hover-effect.contrast-punch:focus-visible img{
  filter: contrast(1.5);
}