.hover-effect.sepia-in{
}
.hover-effect.sepia-in img{
  filter: sepia(1);
  transition: filter 0.5s ease;
}
.hover-effect.sepia-in:hover img, .hover-effect.sepia-in:focus-visible img{
  filter: sepia(0);
}