.zoom-brightness {
  overflow: hidden;
  display: inline-block;
  border-radius: 8px;
}
.zoom-brightness img {
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(50%);
}
.zoom-brightness:hover img {
  filter: brightness(100%);
  transform: scale(1.3);
}