.bounce-top {
  overflow: hidden;
  display: inline-block;
  border-radius: 8px;
  position: relative;
}
.bounce-top img {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  transition: top 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bounce-top:hover img {
  top: -100%;
}