/* Rotate 3D Effect */

.hover-effect.rotate-3d{
  perspective: 1000px;
}

.hover-effect.rotate-3d img{
  transition: transform 0.5s ease-out;
  transform-style: preserve-3d;
}

.hover-effect.rotate-3d:hover img, .hover-effect.rotate-3d:focus-visible img{
  transform: rotateY(20deg) rotateX(-20deg) scale(1.3);
}