/* Rotate 3D Effect */

.rotate-3d {
  perspective: 1000px;
}

.rotate-3d img {
  transition: transform 0.5s ease-out;
  transform-style: preserve-3d;
}

.rotate-3d:hover img {
  transform: rotateY(20deg) rotateX(-20deg) scale(1.3);
}