/* Blur to Sharp Effect */

.blur-sharpen img {
  filter: blur(4px) grayscale(0.5);
  transition: filter 0.4s ease-out, transform 0.4s ease-out;
}

.blur-sharpen:hover img {
  filter: blur(0) grayscale(0);
  transform: scale(1.05);
}