/* Flip Horizontal Effect */

.flip-horizontal {
  perspective: 1000px;
}

.flip-horizontal img {
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.flip-horizontal:hover img {
  transform: scaleX(-1);
}