/* Bounce Bottom Effect */

.hover-effect.bounce-bottom img{
  position: relative;
  top: 0;
  transition: top 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hover-effect.bounce-bottom:hover img, .hover-effect.bounce-bottom:focus-visible img{
  top: 100%;
}