/* Color Splash Effect */

.hover-card.color-splash {
  position: relative;
  overflow: hidden;
}

.hover-card.color-splash::after {
  content: "";
  position: absolute;
  inset: 50%;
  width: 0; height: 0;
  border-radius: 50%;
  background: rgba(255,127,80,0.8);
  transform: translate(-50%, -50%);
  transition: width .3s, height .3s;
}
.hover-card.color-splash:hover::after {
  width: 300%;
  height: 300%;
}
