.horizontal-zoom-n-pan {
  overflow: hidden;
  display: inline-block;
  border-radius: 12px;
  max-width: 100%;
}

.horizontal-zoom-n-pan img {
  display: block;
  width: 100%;
  height: auto;
  transform-origin: 100% 0%;
  transition: transform 0.55s ease-in-out;
  will-change: transform;
  transform: scale(1.2);
}

.horizontal-zoom-n-pan:hover img {
  transform: scale(1.4) translateX(30%);
}
